<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Cagliari Port 2020 | Activity portal</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="<%= baseUrl %>favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="<%= baseUrl %>assets/css/style.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/css/blocks.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/css/app.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/plugins/animate.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="<%= baseUrl %>assets/plugins/line-icons/line-icons.css">
    
    <link rel="stylesheet" href="<%= commonUI.headerCss %>">
    <link rel="stylesheet" href="<%= commonUI.footerCss %>">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CP2020 CSS Customization -->
    <link rel="stylesheet" href="<%= baseUrl %>css/plugins/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="<%= baseUrl %>css/plugins/jquery.growl.css">
    <link rel="stylesheet" href="<%= baseUrl %>css/custom_activity.css">
</head>
<body>
    <div class="wrapper">
        <div id="header_p_HT"> <%- commonUI.header %> </div>
        <div class="locked"><h2>Contenuto non disponibile</h2></div>
        
        <!--=== Content Part ===-->
        <% if(typeof activityId != 'undefined') {%> <%include view_activity%><% } %>
        <% include form_activity %>
        
        <div id="footer_p_HT"> <%- commonUI.footer %> </div>
    </div><!--/End Wrapepr-->
    
    <% include ../config %>

    <!-- JS Global Compulsory -->
    <script src="<%- commonUI.headerScript %>"></script>
    <script src="<%- commonUI.footerScript %>"></script>
    <script src="<%- commonUI.languagemanager %>"></script>

    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/bootstrap/js/bootstrap.min.js"></script>


    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/jquery.parallax.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>

    <!-- JS Page Level -->
    <script type="text/javascript" src="<%= baseUrl %>assets/js/app.js"></script>
    <!--script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD7svax8fUAqTVVvtjynvTAf105rMbEEsQ"></script-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7svax8fUAqTVVvtjynvTAf105rMbEEsQ&libraries=places"></script>

    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/gmap/gmap.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/respond.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/html5shiv.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/plugins/placeholder-IE-fixes.js"></script>


    <!-- CP2020 -->
    <script type="text/javascript" src="<%= baseUrl %>js/plugins/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/plugins/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/plugins/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/plugins/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/plugins/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/plugins/jquery.growl.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>node_modules/underscore/underscore-min.js"></script>

    <script type="text/javascript" src="<%= baseUrl %>customAssets/js/utils.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>customAssets/js/tokenManager.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>customAssets/js/multilanguage.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/activities/common.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/activities/form.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/activities/act_edit.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>js/activities/view.js"></script>

</body>
</html>