
<!-- <% include include/head.ejs %>


<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Cagliari Port 2020 | Activity portal</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/blocks.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <link rel="stylesheet" href="/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="<%= commonUI.headerCss %>">
    <link rel="stylesheet" href="<%= commonUI.footerCss %>">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CP2020 CSS Customization -->
    <link rel="stylesheet" href="/css/plugins/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/plugins/jquery.growl.css">
    <link rel="stylesheet" href="/css/custom_activity.css">
</head>

<body>

<div class="wrapper">

    <div id="header_p_HT"> <%- commonUI.header %> </div>

    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Begin Sidebar Menu -->
        <% include leftbar %>
        <!-- End Sidebar Menu -->

        <!-- Begin Content -->
        <div class="col-md-7">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <form class="tag-box tag-box-v3 form-page" name="activity-form" id="content-form">

                <!-- Standard Form Controls -->

                <div class="headline">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3>Dettagli Attività</h3>
                        </div>                        
                        <div class="col-sm-2 loggedonly">
                            <ul class="list-inline posted-info">
                                <li>
                                    <a href="<%= baseUrl + 'activities/' + activityBody._id %>/edit" id="editUrl"><button id="editContent" type="button"><i class="fa fa-pencil fa-2x" ></i></button></a>
                                </li>
                            </ul>
                        </div>                        
                    </div>

                </div>
                <!--Inputs-->
                <h4>Nome Attività</h4>
                <label id="name" type="text"    ></label>
                <!--End Inputs-->
                <div class="margin-bottom-20"></div>

                <hr>

                <!-- Descrizione section-->
                <h4>Descrizione</h4>
                <label id="description"></label>
                <div class="margin-bottom-20"></div>

                <!-- Image upload section-->

                <hr>
                <h4>Immagini</h4>

                <div class="margin-bottom-10"></div>
                <div id="imageContainer" class="row margin-bottom-10">
                    <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="0" ></div>
                    <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="1" ></div>
                    <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="2"></div>
                    <div class="col-sm-3 col-xs-6 md-margin-bottom-20" data-img-thumb-pos="3" ></div>
                </div>

                <hr>
                <div class="margin-bottom-10"></div>


                <!-- Category Section -->

                <h4>Categorie</h4>
                <div class="margin-bottom-10"></div>
                <div class="row" id="catDrop">
                    <div class="col-md-3" data-cp-cbox-pos="0" ></div>
                    <div class="col-md-3" data-cp-cbox-pos="1" ></div>
                    <div class="col-md-3" data-cp-cbox-pos="2"></div>
                    <div class="col-md-3" data-cp-cbox-pos="3" ></div>
                </div>

                <div class="margin-bottom-10"></div>
                <hr>

                <!-- Map Section -->
                <h4>Mappa</h4>

                <p id="address">Indirizzo: </p>
                <br>
                <div id="map" class="map margin-bottom-50"></div>
               
                <div class="margin-bottom-20"></div>
                <hr>
            </form>



            <!-- End Content -->

        </div>

        <!-- Rightbar Menu -->
        <%- include rightbar %>

    </div><!--/container-->
    <!--=== End Content Part ===-->

    <div id="footer_p_HT"> <%- commonUI.footer %> </div>

</div><!--/End Wrapepr-->




<script type="text/javascript">
  var baseUrl = '<%= baseUrl %>';
  var contentUrl = '<%= contentUrl %>';
  var uploadUrl = '<%= uploadUrl %>';
  var activityBody = JSON.parse('<%- JSON.stringify(activityBody) %>');
  var userToken= "<%= access_token %>" || null;
  var tokenError= "<%= tokenError %>" || null;
</script>



<script id="img-thumb" type="text/x-img-snippet">
    <div>
     <img id="previewHolder" class="img-responsive rounded-2x" src="assets/img/demo.jpg" alt="">
   </div>
</script>

<script id="cp-cats" type="text/x-cp-snippet">
    <label></label>
</script>



<!-- JS Global Compulsory -->
<script src="<%- commonUI.headerScript %>"></script>
<script src="<%- commonUI.footerScript %>"></script>

<script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/assets/plugins/smoothScroll.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD7svax8fUAqTVVvtjynvTAf105rMbEEsQ"  ></script>
<script type="text/javascript" src="/assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="/assets/js/plugins/fancy-box.js"></script>
<script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>

<script src="/js/plugins/bootbox.min.js"></script>

<!-- CP2020 -->
<script type="text/javascript" src="/js/plugins/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="/js/plugins/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="/js/plugins/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.growl.js"></script>
<script type="text/javascript" src="/customAssets/js/utils.js"></script>
<script type="text/javascript" src="/customAssets/js/tokenManager.js"></script>
<script type="text/javascript" src="/js/activities/common.js"></script>
<script type="text/javascript" src="/js/activities/view.js"></script>
<script type="text/javascript" src="/js/activities/view_ds.js"></script>


<script src="/assets/plugins/respond.js"></script>
<script src="/assets/plugins/html5shiv.js"></script>
<script src="/assets/plugins/placeholder-IE-fixes.js"></script>


</body>
</html>
