<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Cagliari Port 2020 | Passengers portal</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-default.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v1.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
	<!-- CSS Page Style -->
	<link rel="stylesheet" href="assets/css/pages/page_search_inner.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">
	<link rel="stylesheet" href="assets/css/custom.css">

	<!-- CP2020 CSS Customization -->
	<link rel="stylesheet" href="css/plugins/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="css/plugins/jquery.growl.css">
	<link rel="stylesheet" href="css/custom_search.css">

	<link rel="stylesheet" href="<%= commonUI.headerCss %>">
</head>

<body>
	
	<div class="wrapper">
		<div id="header_p_HT"> <%- commonUI.header %> </div>

		<div class="bg-image-cp parallaxBg">
			<div class="container">
				<div class="headline-center headline-light">
					<h2 data-i18n="search.title"></h2>

					<div id="searchBox" class="text-left" style="max-width:800px">
														
						<div class="input-group">
							<span class="input-group-btn">
								<button id="doAdv" class="btn-u btn-u-default" type="button" title="Ricerca avanzata"><i class="fa fa-cogs"></i></button>
							</span>
							<input id="qt" type="text" class="form-control" data-i18n="[placeholder]search.searchLabel">
							<span class="input-group-btn">
								<button id="doSearch" class="btn-u" type="button"><i class="fa fa-search"></i></button>
							</span>
						</div>
						<div id="searchsettings" class="">
							<span class="fa fa-filter"></span> <span data-i18n="search.filterby"></span> 
							<select id="searchtype" class="form-control input-sm">
								<option value="promo" data-i18n="search.optOffer"></option>
								<option value="content" data-i18n="search.optContent"></option>
							</select>
							<button id="mapview" type="button" class="btn btn-default btn-sm"><i class="fa fa-map-o"></i> Map view</button>
						</div>

						<div id="adv" class="panel-group acc-v1 animated fadeInDown" style="display:none;margin-top:8px;">
							
							<div class="panel panel-default">
								<div class="panel-heading">	
									<div class="advMenuItem">
										<div class="row">
											<div class="col-sm-11">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#adv" href="#collapse-One" aria-expanded="false"><span class="fa fa-tags"></span> <span data-i18n="search.advCatLabel"></span> <span id="advCat" class="advItem"></span>
													</a>												
												</h4>
											</div>
											<div class="col-sm-1 offset-sm-11"><a href="#" title="reset filter" data-rst-field="category" class="rst"><i class="fa fa-eraser"></i></a></div>
										</div>
									</div>
								</div>
									
								<div id="collapse-One" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
									<div class="panel-body">
										<div class="row sky-form" id="catDrop">
											<div class="col-md-4" data-cp-cbox-pos="0"></div>
											<div class="col-md-4" data-cp-cbox-pos="1"></div>
											<div class="col-md-4" data-cp-cbox-pos="2"></div>
										</div>
									</div>
								</div>						
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="advMenuItem">
										<div class="row">
											<div class="col-sm-11">
												<h4 class="panel-title">											
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#adv" href="#collapse-Time" aria-expanded="false"><span class="fa fa-clock-o"></span> <span data-i18n="search.advDateLabel"></span> <span id="advDate" class="advItem"></span>
													</a>
												</h4>
											</div>
											<div class="col-sm-1 offset-sm-11"><a href="#" title="reset filter" data-rst-field="date" class="rst"><i class="fa fa-eraser"></i></a></div>
										</div>
									</div>
								</div>
								<div id="collapse-Time" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
									<div class="panel-body">

										<div class="tab-v2">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#byship" class="advTimeMenu" data-cp-tm="d-ship" data-toggle="tab" aria-expanded="false" data-i18n="search.advDateTab1"></a></li>
												<li class=""><a href="#interval" class="advTimeMenu" data-cp-tm="d-int" aria-expanded="true" data-toggle="tab" aria-expanded="false" data-i18n="search.advDateTab2"></a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade active in" id="byship">
													<input class="typeahead form-control adv" placeholder="Nome nave">
												</div>
												<div class="tab-pane fade" id="interval">
													<div id="intdates" class="adv">
														<div class="form-group">
															<div class='input-group date' id='dtp1'>
																<input type='text' class="form-control" readonly placeholder="Data inizio..." />
																<span class="input-group-addon">
																	<span class="fa fa-calendar"></span>
																</span>
															</div>
														</div>
														<div class="form-group">
															<div class='input-group date' id='dtp2'>
																<input type='text' class="form-control" readonly placeholder="Data fine..." />
																<span class="input-group-addon">
																	<span class="fa fa-calendar"></span>
																</span>
															</div>
														</div>
														<div class="text-right">
															<button class="btn-u btn-u-green cp-ok" type="button"><i class="fa fa-check"></i></button>
															<button class="btn-u btn-u-red cp-undo" type="button"><i class="fa fa-undo"></i></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="advMenuItem">
										<div class="row">
											<div class="col-sm-11">
												<h4 class="panel-title">
													<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#adv" href="#collapse-Map" aria-expanded="false"><span class="fa fa-map-o"></span> <span data-i18n="search.advPosLabel"></span> <span id="advPos" class="advItem"></span>
													</a>									
												</h4>
											</div>
											<div class="col-sm-1 offset-sm-11"><a href="#" title="reset filter" data-rst-field="position" class="rst"><i class="fa fa-eraser"></i></a></div>
										</div>
									</div>
								</div>
								<div id="collapse-Map" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
									<div class="panel-body">									
										<div id="map" class="map margin-bottom-30"></div>
										<div class="sky-form label-rounded">										
											<label class="label rounded-x"><i data-i18n="search.advPosHint"></i> <span id="slider1-value-rounded">0</span>m</label>
											<div id="slider1-rounded" class="skyforms"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
	      			</div>
				
				</div><!--/end Headline Center-->
			</div>
		</div>


		<div id="homeBoxes" class="container content-sm">
			<div class="row">
				<div class="col-md-4 content-boxes-v6 md">
					<i class="rounded-x fa fa-search"></i>
					<h1 class="title-v3-md text-uppercase margin-bottom-10" data-i18n="search.box1title"></h1>
					<p data-i18n="search.box1text"></p>
				</div>
				<div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
					<i class="rounded-x fa fa-map-o"></i>
					<h2 class="title-v3-md text-uppercase margin-bottom-10" data-i18n="search.box2title"></h2>
					<p data-i18n="search.box2text"></p>
				</div>
				<div class="col-md-4 content-boxes-v6">
					<i class="rounded-x fa fa-child"></i>
					<h2 class="title-v3-md text-uppercase margin-bottom-10" data-i18n="search.box3title"></h2>
					<p data-i18n="search.box3text"></p>
				</div>
			</div><!--/row-->
		</div>

		<div id="sResults" class="s-results" style="display:none;">
			<div id="searchresults" class="margin-top-30"></div>
			<div id="mapresults" style="display:none;"></div>
			
			<div style="text-align: center; padding:20px;">
				<button id="moreresults" class="btn-u btn-u-lg rounded btn-u-red" type="button" data-i18n="search.more"></button>
			</div>
		</div>

		<div id="footer_p_HT"> <%- commonUI.footer %> </div>
	</div><!--/End Wrapper-->

	<% include config %>

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="assets/plugins/gmap/gmap.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.backstretch.min.js"></script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
	<!--script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7svax8fUAqTVVvtjynvTAf105rMbEEsQ&callback=initClusteredMap"></script-->

	<!-- CP2020 -->
	<script type="text/javascript" src="js/plugins/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="js/plugins/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="js/plugins/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="js/plugins/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/plugins/jquery.growl.js"></script>

	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="assets/js/app.js"></script>

	<!--[if lt IE 9]>
	<script src="assets/plugins/respond.js"></script>
	<script src="assets/plugins/html5shiv.js"></script>
	<script src="assets/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->

	<script src="<%- commonUI.headerScript %>"></script>
    <script src="<%- commonUI.footerScript %>"></script>
	<script src="<%- commonUI.languagemanager %>"></script>
	
	<script type="text/javascript" src="customAssets/js/utils.js"></script>
	<script type="text/javascript" src="customAssets/js/tokenManager.js"></script>
	<script type="text/javascript" src="js/activities/common.js"></script>
    <script type="text/javascript" src="js/search.js"></script>

	<script id="search-template" type="text/x-handlebars-template">
		{{#each items}}
			<div class="inner-results">
				<h3><a href="{{this.link}}">{{this.title}}</a></h3>
				<div class="entry-item">
					<div class="container">
						<div class="row">
							<div class="col-md-2">
								<div class="img-round-crop" style="background-image: url('{{#if this.image}} {{this.image}} {{else}} <% baseUrl %>customAssets/img/port/no_image_available.png {{/if}}');"></div>
							</div>
							<div class="col-md-10" style="max-height:150px;overflow-y:scroll;">
								<p style="vertical-align: top;">{{this.description}}</p>
							</div>
						</div>
					</div>
					<div>
						{{#if this.town}}<p><span class="fa fa-map-marker"></span> {{this.town}}</p>{{/if}}
						<ul class="list-inline down-ul">
							<!--
							<li>
								<ul class="list-inline star-vote">
									<li><i class="color-green fa fa-star"></i></li>
									<li><i class="color-green fa fa-star"></i></li>
									<li><i class="color-green fa fa-star"></i></li>
									<li><i class="color-green fa fa-star"></i></li>
									<li><i class="color-green fa fa-star-half-o"></i></li>
								</ul>
							</li>
							-->
							{{#if this.startDate}}
								<li>Valido dal {{this.startDate}}
							{{/if}}
							{{#if this.endDate}}
								al {{this.endDate}}
							{{else}}
								{{#if this.startDate}}
									</li>
								{{/if}}
							{{/if}}
							<li>Inserito il {{this.pubDate}}</li>
							<li>{{this.likes}} like</li>
						</ul>
					</div>
				</div>
			</div>
			<hr />
		{{/each}}
	</script>

	<script id="cp-cats" type="text/x-cp-snippet">
		<label class="checkbox">
            <input type="checkbox" value="">
        </label>
	</script>

	</body>
</html>
